body{
    background-color: #d6efde;
}

.under{
    margin:15px;
    background-color: white;
}

.btn-submit{
    float: right;
    margin-bottom: 20px;
}

.touxiang{
    width: 30px;
    height: 30px;
}

.question_desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section{
    margin-top:15px;
}